---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}

    {% include feature/button.html text="Submit a publication to the database" link="https://docs.google.com/forms/d/e/1FAIpQLSd5HXsIiHimvWUmY4TGlUsYfmRQE-6mwumgx0XiCwpsW3ZrPw/viewform?usp=header" color="success" %}
  
  </div>
  <div class="col-md-4">

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Keywords" btn-color="primary" max=8 %}

    {% include index/featured-terms.html field="creator" title="Authors" btn-color="success" max=8 %}

    {% include index/objects.html %}

  </div>
  
</div>
